.sidenav-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 240px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
